
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #222327;
}

.navegacao {
    position: relative;
    width: 450px;
    height: 80px;
    background: #2f2f2f;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}

.navegacao ul {
    position: relative;
    display: flex;
    width: 400px;
}

.navegacao ul li {
    position: relative;
    list-style: none;
    width: 80px;
    height: 80px;
}

.navegacao ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}


.navegacao ul li a .icone {
    position: relative;
    display: block;
    line-height: 85px;
    font-size: 1.5em;
    transition: 0.5s;
    text-align: center;
    color: rgba(255,255,255,0.5);
}

.navegacao ul li a:hover .icone {
    color: rgba(255,255,255,1);
}

.navegacao ul li.active a .icone {
    color: #29fd53;
    transform: translateY(-8px);
}

.navegacao ul li a .texto {
    position: absolute;
    font-weight: 600;
    font-size: 0.6em;
    color: #222327;
    text-transform: uppercase;
    transform: translateY(0px);
    letter-spacing: 0.05em;
    opacity: 0;
    z-index: 10;
}

.navegacao ul li.active a .texto {
    opacity: 1;
    transform: translateY(16px);
}

.indicador {
    position: absolute;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
}

.indicador::before{
    content: '';
    position: absolute;
    bottom: 14px;
    width: 80%;
    height: 16px;
    background: #29fd53;
    border-radius: 10px;
}